<div class="container mx-auto mb-5" id="post">
    <h1 class="titulo">{{ selectedPost ? selectedPost.title  : "" }}</h1>
    <span class="subtitulo">{{ selectedPost.subtitle }}</span>
    <div class="d-flex flex-row align-items-center" id="autor">
        <div class="avatar" (click)="openVerticallyCentered(longContent)"></div>
        <div class="d-flex flex-column">
            <span id="user" (click)="openVerticallyCentered(longContent)">{{ user.username }}</span>
            <span id="date">20 de fev, 2019</span>
        </div>
    </div>
    <div [innerHTML]="selectedPost.content">
    </div>
    <div class="mt-4 mb-4">
        <h4 id="comentarios">Comentários</h4>
        <div class="comentario mt-3 mb-3" *ngFor="let comment of rawPost.comments">
            <app-comments [comment]="comment"></app-comments>
        </div>
    </div>
</div>

<ng-template #longContent let-modal>
    <div id="modal">
        <div class="modal-header">
            <h4 class="modal-title">Dados do usuário</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <div id="profile">
                <div class="d-flex flex-row align-items-center mt-2 mb-4">
                    <div class="avatar" id="photo"></div>
                    <span class="username">{{ user.username }}</span>
                </div>
                <div class="d-flex flex-row align-items-center mt-4 mb-4">
                    <span>Amigos em comum:</span>
                    <div class="avatar"></div>
                    <div class="avatar"></div>
                    <div class="avatar"></div>
                </div>
                <div>
                    <h5>Histórico de postagens</h5>
                    <div class="d-flex flex-column mt-4 mb-4" *ngFor="let post of user.posts">
                        <span>{{ post.title }}</span>
                        <span>{{ post.subtitle }}</span>
                        <span>{{ post.content }}</span>
                    </div>
                </div>
                <div class="d-flex flex-row">
                    <button><span class="material-symbols-outlined">person_add</span> Adicionar usuário </button>
                    <button><span class="material-symbols-outlined">person_remove</span> Remover usuário</button>
                    <button><span class="material-symbols-outlined">chat</span> Enviar mensagem</button>
                    <button><span class="material-symbols-outlined">report</span> Reportar usuário</button>
                </div>
            </div>
            
            <!-- - Nome e foto do usuário
            - Data de filiação ao Blogging
            - Os amigos em comum com o usuário logado atualmente
            - Informações básicas sobre todos os posts realizados por este usuário: título, subtítulo e parte do conteúdo do post
            - Botões para adicionar ou remover o usuário da lista de amigos; botão de enviar mensagem ao usuário; botão para reportar o usuário -->
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
        </div>
    </div>
</ng-template>
