<div>
    <div class="d-flex flex-row align-items-center">
        <div class="avatar"></div>
        <span class="username">João Figueiredo</span>
    </div>
    <div class="d-flex flex-row align-items-center">
        <span>Amigos em comum:</span>
        <div class="avatar"></div>
        <div class="avatar"></div>
        <div class="avatar"></div>
    </div>
    <div>
        <h5>Histórico de postagens</h5>
        <div class="d-flex flex-column">
            <span class="titulo">Estratégias em um novo paradigma globalizado</span>
            <span class="subtitulo">Sobre o cuidado em identificar pontos críticos na complexidade</span>
            <span class="conteudo">Caros amigos, a mobilidade dos capitais internacionais desafia a capacidade de equalização das diversas...</span>
        </div>
    </div>
    <div class="d-flex flex-row">
        <button>Adicionar usuário</button>
        <button>Remover usuário</button>
        <button>Enviar mensagem</button>
        <button>Reportar usuário</button>
    </div>
</div>

<!-- - Nome e foto do usuário
- Data de filiação ao Blogging
- Os amigos em comum com o usuário logado atualmente
- Informações básicas sobre todos os posts realizados por este usuário: título, subtítulo e parte do conteúdo do post
- Botões para adicionar ou remover o usuário da lista de amigos; botão de enviar mensagem ao usuário; botão para reportar o usuário -->