#comentarios {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
}

.comentario {
    border-left: 3px solid #FF9B52;
    padding-left: 25px;
}